body {
  background-image: url("https://img3.wallspic.com/crops/4/9/0/2/7/172094/172094-ios-azure-pendiente-patron-magenta-1366x768.jpg");
  background-attachment: fixed; 
  background-size: cover;

}

header {
  height: 50px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.submenu{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 500px;
  height: 40px;
}

.submenu button{
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.logo{
  position: absolute;
  left: 0;
  top: 0;
  color:#2715DB;
  text-shadow: 3px 4px 5px rgba(166,166,166,0.79);
  font-weight: 100;
}

header:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

.contenido{
  width: 100vw;
  height: 100vh;
  position: absolute;
}


#contClases{
  background-color: #2715DB;
}

#contEstudiantes{
  background-color: yellow;
}

#contRecursos{
  background-color: violet;
}