.barrasup{
    width: 100vw;
    height: 100px;
    background-color: #0A2A66;
    position: fixed;
}

.logout{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 10px;
    left: 90vw;
}

.logout:hover{
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4); }
.text{
    color: white;
}

.clases{
    position:absolute;
    top: 60px;
    height: 40px;
    left: 15vw;
    width: 100px;
    font-size: larger;
    font-weight: 700;
    text-align: center;
    padding-top: 5px;
    color: white;
    }

 .clases:hover{
    color: #11ACCD;
    box-shadow: #0A2A66 0px 5px;
    cursor: pointer;
 }

.estudiantes{
    position:absolute;
    top: 60px;
    height: 40px;
    left: 22vw;
    width: 100px;
    font-size: larger;
    font-weight: 700;
    text-align: center;
    padding-top: 5px;
    color: white;
    }

    .estudiantes:hover{
        color: #11ACCD;
         box-shadow: #0A2A66 0px 5px;
         cursor: pointer;
     }

.recursos{
    position:absolute;
    top: 60px;
    height: 40px;
    left: 30vw;
    width: 100px;
    font-size: larger;
    font-weight: 700;
    text-align: center;
    padding-top: 5px;
    color: white;
    }

    .recursos:hover{
        color: #11ACCD;
        box-shadow: #0A2A66 0px 5px;
        cursor: pointer;
     }



select {
  margin-bottom: 15px;
  margin-top: 15px;
}
     
     .mb-3{
        width: 290px;
        background-color: #8B98A9;
     }

     .form{
        width: 310px;
        background-color: #8B98A9;
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
     }

       /* Estilos para la tabla */
  table {
    position: absolute;
    left: 330px;
    top: 110px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    width: 80%;
    border-radius: 20px;
}

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #0A2A66;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }




  .modalRecursos{
  background-color: #fefefe;
  margin: 15% auto; /* coloca el modal en el centro de la pantalla */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;

  }

  .abrir_modal{
    position: sticky;
    height: 70px;
    width: 70px;
    background-color: white;
    top: 90vh;
    left: 90vw;
    font-size: xx-large;
    background-color: #0A2A66;
    border-radius: 100px;
    color: white;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
  }

  /* Estilos para el modal */
.modal {
  display: none; /* Ocultar por defecto */
  position: fixed; /* Fijar posición */
  z-index: 1; /* Asegurarse que esté por encima de todo */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* Agregar un fondo semi-transparente */
}

.modal-content {
  background-color: white;
  margin: 10% auto; /* Centrar verticalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative; /* Para poder posicionar el botón de cerrar */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}

/* Estilos para los campos de formulario */
label {
  display: block;
  margin-bottom: 5px;
}

select, input[type="submit"] {
  display: block;
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #2E8B57;
}

.divRecursos{
  width: 100vw;
  height: 100vh;
  top: 200px;
  
}

.divClases{
width: 100vw;
height: 100vh;
top: 200px;

}

.divEstudiantes{
width: 100vw;
height: 100vh;
top: 200px;
}

/* Estilos para el contenedor */
#contenedor {
  display: flex; /* Cambiar el modo de visualización a flex */
  flex-wrap: wrap; /* Permitir que las "cards" se envuelvan cuando no caben en una sola línea */
  justify-content: center; /* Centrar las "cards" horizontalmente dentro del contenedor */
  align-items: center; /* Centrar las "cards" verticalmente dentro del contenedor */
}

/* Estilos para la "card" */
.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 10px; /* Añadir un margen alrededor de las "cards" */
  max-width: 300px; /* Establecer un ancho máximo para las "cards" */
}

    .card h3 {
      margin-top: 0;
      margin-bottom: 5px;
    }
    
    .card p {
      margin-top: 0;
    }











